@page
@model BookingSystemRRC.Pages.BookingRRC.BookingAcceptanceModel
@{
}

<div>
    <br />
    <br />
    <br />
    <table class="table table-bordered table-hover table-striped" width="80%">
        <col style=" width: 12%" />
        <col style="width: 10%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 10%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <thead>
            <tr class="btn-secondary active">
                <th>
                    <div><h4> Booking nr</h4> </div>
                    <div>
                        <a data-toggle="tooltip" title="Sort By Id" asp-page-handler="SortById"><i class="fa fa-angle-up"></i></a>
                        <a data-toggle="tooltip" title="Sort By Id Descending" asp-page-handler="SortByIdDescending"><i class="fa fa-angle-down"></i></a>
                    </div>
                </th>
                <th>
                    <div><h4> Dag/Tid</h4> </div>
                </th>
                <th>
                    <div><h4> Navn </h4> </div>
                </th>
                <th>
                    <div><h4> Email </h4> </div>
                </th>
                <th>
                    <div><h4> Antal personer </h4> </div>
                </th>
                <th>
                    <div><h4> Kommenter</h4> </div>
                </th>
                <th>
                    <div><h3> Rediger/slet </h3></div>
                </th>

            </tr>
        </thead>
        <tbody>
            @if (@Model.bookings != null)
            {
                foreach (var bookings in Model.bookings)
                {
                    <tr>
                        <td>
                            @bookings.BookingNumber
                        </td>
                        <td>
                            @bookings.WeekDays
                        </td>
                        <td>
                            @*@bookings.Guest.FirstName
                                @bookings.Guest.LastName*@
                        </td>
                        <td>
                            @*@bookings.Guest.Email*@
                        </td>
                        <td>
                            @bookings.NumberOfPeople
                        </td>
                        <td>
                            @bookings.BookingComment
                        </td>

                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="btn btn-primary btn-sm" type="button" data-toggle="tooltip" title="Edit" asp-page="/BookingRRC/UpdateBooking" asp-route-id="@bookings.BookingNumber"> <i class="fa fa-edit"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn btn-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="delete" asp-page="DeleteBooking" asp-route-id="@bookings.BookingNumber"> <i class="fa fa-trash"></i></a>
                                </li>

                            </ul>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>