@page
@model BookingSystemRRC.Pages.BookingRRC.CreateBookingModel
@{
    <h5> Opret en booking </h5>

    <div class="row">
        <div class="col-3">
            <form method="post">
                <div class="input-fields">

                    <div>
                        <label>Navn: </label>
                        <input asp-for="@Model.Guest.Name" class="input"/>
                        <span asp-validation-for="@Model.Guest.Name" class="text-danger"></span>
                    </div>


                    <div>
                        <label>Email: </label>
                        <input asp-for="@Model.Guest.Email" class="input"/>
                        <span asp-validation-for="@Model.Guest.Email" class="text-danger"></span>
                    </div>


                    <label for="events"> Events: </label>
                    <select class="form-control" asp-for="Booking.Type">
                        @foreach(var booking in Enum.GetNames(typeof(Models.BookingEvents)))
                        {
                        <option value="@booking">@booking</option>
                        }
                    </select>


                    <div>
                        <label>Nummer: </label>
                        <input asp-for="@Model.Guest.PhoneNumber" class="input"/>
                        <span asp-validation-for="@Model.Guest.PhoneNumber" class="text-danger"></span>
                    </div>


                    <div>
                        <label>Land: </label>
                        <input asp-for="@Model.Guest.Nationality" class="input"/>
                        <span asp-validation-for="@Model.Guest.Nationality" class="text-danger"></span>
                    </div>


                    <div>
                        <label>Oprettet af: </label>
                        <input asp-for="@Model.Booking.CreatedBy" class="input"/>
                        <span asp-validation-for="@Model.Booking.CreatedBy" class="text-danger"></span>
                    </div>


                    <div>
                        <label>Antal personer: </label>
                        <input asp-for="@Model.Booking.NumberOfPeople" class="input"/>
                        <span asp-validation-for="@Model.Booking.NumberOfPeople" class="text-danger"></span>
                    </div>


                    <div>
                        <label>Note: </label>
                        <input asp-for="@Model.Booking.BookingComment" class="input"/>
                        <span asp-validation-for="@Model.Booking.BookingComment" class="text-danger"></span>
                    </div>


                    <div>
                        <input type="submit" value="Create" class="btn btn-primary" asp-page="/InternallySystem/EmployeeeCalendar" />
                        <a class="btn btn-secondary" asp-page="/InternallySystem/EmployeeCalendar"> tilbage </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
