@page
@model BookingSystemRRC.Pages.BookingRRC.CreateBookingModel
@{

    <h5> Opret en booking </h5>

    <div class="row">
        <div class="col-3">
            <form method="post">
                <div class="form-group">
                    <label asp-for="@Model.Guest.Name" class="control-label "><b class="text-black">Guest's Name</b></label>
                    <input asp-for="@Model.Guest.Name" class="form-control" />
                    <span asp-validation-for="@Model.Guest.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Guest.Address" class="control-label "><b class="text-black">Guest's Address</b></label>
                    <input asp-for="@Model.Guest.Address" class="form-control" />
                    <span asp-validation-for="@Model.Guest.Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Guest.Email" class="control-label "><b class="text-black">Guest's Email</b></label>
                    <input asp-for="@Model.Guest.Email" class="form-control" />
                    <span asp-validation-for="@Model.Guest.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Guest.PhoneNumber" class="control-label "><b class="text-black">Guest's Phonenumber</b></label>
                    <input asp-for="@Model.Guest.PhoneNumber" class="form-control" />
                    <span asp-validation-for="@Model.Guest.PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Guest.Nationality" class="control-label "><b class="text-black">What Language is the guest speaking?</b></label>
                    <input asp-for="@Model.Guest.Nationality" class="form-control" />
                    <span asp-validation-for="@Model.Guest.Nationality" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Guest.GuestComment" class="control-label "><b class="text-black">Guest's Note!</b></label>
                    <input asp-for="@Model.Guest.GuestComment" class="form-control" />
                    <span asp-validation-for="@Model.Guest.GuestComment" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Booking.NumberOfPeople" class="control-label "><b class="text-black">How many people?</b></label>
                    <input asp-for="@Model.Booking.NumberOfPeople" class="form-control" />
                    <span asp-validation-for="@Model.Booking.NumberOfPeople" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Booking.CreatedBy" class="control-label "><b class="text-black">Who made this Booking? (Employee)</b></label>
                    <input asp-for="@Model.Booking.CreatedBy" class="form-control" />
                    <span asp-validation-for="@Model.Booking.CreatedBy" class="text-danger"></span>
                </div>
            </form>
        </div>

    </div>
}
