@page "{id:int}"
@model BookingSystemRRC.Pages.BookingRRC.UpdateBookingModel
@{
}

<h1 class="text-white"> Rediger booking </h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div class="form-group">
                <label asp-for="@Model.Booking.WeekDays" class="control-label text-white">Fornavn</label>
                <input asp-for="@Model.Booking.WeekDays" class="form-control" />
              
            </div>
            <div class="form-group">
                <label asp-for="@Model.Booking.DateTimeStart" class="control-label text-white">Efternavn</label>
                <input asp-for="@Model.Booking.DateTimeStart" class="form-control" />
               
            </div>

            <div class="form-group">
                <label asp-for="@Model.Booking.CreatedBy" class="control-label text-white">Lavet af</label>
                <input asp-for="@Model.Booking.CreatedBy" class="form-control" />
              
            </div>

            <div class="form-group">
                <label asp-for="@Model.Booking.NumberOfPeople" class="control-label text-white"> Antal personer </label>
                <input asp-for="@Model.Booking.NumberOfPeople" class="form-control" />
          
            </div>

            <div class="form-group">
                <label asp-for="@Model.Booking.BookingComment" class="control-label text-white"> Komentar</label>
                <input asp-for="@Model.Booking.BookingComment" class="form-control" />
         
            </div>

            <div class="form-group">
                <input type="submit" value="Update class="btn"
                @*<button type="submit" value="Save" class="btn btn-primary"> opdater </button>*@
            </div>

           

         
        </form>
    </div>
</div>
<div>
    <a class="btn btn-secondary" asp-page="/BookingRRC/BookingAcceptance"> tilbage </a>
</div>
