@page "{id:int}"
@model BookingSystemRRC.Pages.BookingRRC.UpdateBookingModel
@{
}

<h1 class="text-white"> Rediger booking </h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div class="form-group">
                <label asp-for="@Model.Guest.FirstName" class="control-label text-white">Fornavn</label>
                <input asp-for="@Model.Guest.FirstName" class="form-control" />
                <span asp-validation-for="@Model.Guest.FirstName" class="text-danger"> </span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Guest.LastName" class="control-label text-white">Efternavn</label>
                <input asp-for="@Model.Guest.LastName" class="form-control" />
                <span asp-validation-for="@Model.Guest.LastName" class="text-danger"> </span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Booking.CreatedBy" class="control-label text-white">Lavet af</label>
                <input asp-for="@Model.Booking.CreatedBy" class="form-control" />
                <span asp-validation-for="@Model.Booking.CreatedBy" class="text-danger"> </span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Booking.NumberOfPeople" class="control-label text-white"> Antal personer </label>
                <input asp-for="@Model.Booking.NumberOfPeople" class="form-control" />
                <span asp-validation-for="@Model.Booking.NumberOfPeople" class="text-danger"> </span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Booking.BookingComment" class="control-label text-white"> Komentar</label>
                <input asp-for="@Model.Booking.BookingComment" class="form-control" />
                <span asp-validation-for="@Model.Booking.BookingComment" class="text-danger"> </span>
            </div>

            

            <button type="submit" class="btn btn-primary"> opdater </button>
            <a class="btn btn-secondary" asp-page="/BookingRRC/BookingAcceptance"> tilbage </a>
        </form>
    </div>
</div>
