@page
@model BookingSystemRRC.Pages.OnlineBooking.GokartBookingPageModel
@{



    <h5> Opret en booking </h5>

    <div class="row">
        <div class="col-3">
            <form method="post">
                <div class="input-fields">

                    <div class="form-group">
                        <label>Fornavn </label>
                        <input asp-for="@Model.Guest.FirstName" class="input" />
                        <span asp-validation-for="@Model.Guest.FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Efternavn </label>
                        <input asp-for="@Model.Guest.LastName" class="input" />
                        <span asp-validation-for="@Model.Guest.LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Email: </label>
                        <input asp-for="@Model.Guest.Email" class="input" />
                        <span asp-validation-for="@Model.Guest.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>vælg dag</label>
                        <select class="form-control" asp-for="Booking.WeekDays">
                            @foreach (var Week in Enum.GetNames(typeof(Models.WeekDays)))
                            {
                                <option value="@Week">@Week</option>
                            }
                        </select>
                    </div>


                    <div class="form-group">
                        <label>Nummer: </label>
                        <input asp-for="@Model.Guest.PhoneNumber" class="input" />
                        <span asp-validation-for="@Model.Guest.PhoneNumber" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label>Antal personer: </label>
                        <input asp-for="@Model.Booking.NumberOfPeople" class="input" />
                        <span asp-validation-for="@Model.Booking.NumberOfPeople" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label>Note: </label>
                        <input asp-for="@Model.Booking.BookingComment" class="input" />
                        <span asp-validation-for="@Model.Booking.BookingComment" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="" class="btn btn-primary" />

                    </div>
                </div>
            </form>
        </div>
    </div>
}
