@page "{handler?}"
@model BookingSystemRRC.Pages.InternallySystem.EmployeeCalendarModel
@{
    

    <div class="row">
        <br />
        <br />
        <header class="container-fluid">
            <div>
                <nav>
                    <a class="btn btn-primary" type="button" asp-page="/BookingRRC/CreateGuest"> Create Guest </a>
                    <a class="btn btn-primary" type="button" asp-page="/BookingRRC/CreateBooking"> Create Booking </a>
                    <button class="btn btn-primary"> Check in </button>
                </nav>
            </div>
        </header>

        <div class="container-fluid">
            <div class="row">

                <div class="col-sm">
                    <h4 class="texted" style="text-align:center">Mandag</h4>
                    @foreach (var bookings in @Model.bookings)
                    {
                        if (bookings.WeekDays == Models.WeekDays.Mandag)
                        {
                            <div class="card mb-3" style="max-width: 20rem">
                                <div class="card-header">
                                    <h7 class="card-title"> @bookings.DateTimeStart </h7>
                                    <h6 class="card-title"> @bookings.NumberOfPeople personer</h6>
                                    <p class="card-text"> @bookings.BookingComment </p>
                                </div>
                                    <div class="card-footer">
                                        @*<a class="btn" type="button" asp-page-handler="MoveBookingRight" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-right"></i></a>*@
                                        <a style="float:right" class="btn" type="button" asp-page="/BookingRRC/UpdateBooking" asp-route-id="@bookings.BookingNumber"><i class="fa fa-info-circle"></i></a>
                                    </div>
                            </div>
                        }
                    }
                </div>

                <div class="col-sm">
                    <h4 class="texted" style="text-align: center">Tirsdag</h4>

                    @foreach (var bookings in @Model.bookings)
                    {
                        if (bookings.WeekDays == Models.WeekDays.Tirsdag)
                        {
                            <div class="card mb-3" style="max-width: 20rem">
                                <div class="card-header">
                                    <h7 class="card-title"> @bookings.DateTimeStart </h7>
                                    <h6 class="card-title"> @bookings.NumberOfPeople personer</h6>
                                    <p class="card-text"> @bookings.BookingComment </p>
                                </div>
                                <div class="card-footer">
                                    @*<a class="btn" type="button" asp-page-handler="MoveBookingLeft" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-left"></i></a>
                                    <a class="btn" type="button" asp-page-handler="MoveBookingRight" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-right"></i></a>*@
                                    <a style="float:right" class="btn" type="button" asp-page="/InternallySystem/EmployeeEditBooking" asp-route-id="@bookings.BookingNumber"><i class="fa fa-info-circle"></i></a>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="col-sm">
                    <h4 class="texted" style="text-align: center">Onsdag</h4>

                    @foreach (var bookings in @Model.bookings)
                    {
                        if (bookings.WeekDays == Models.WeekDays.Onsdag)
                        {
                            <div class="card mb-3" style="max-width: 20rem">
                                <div class="card-header">
                                    <h7 class="card-title"> @bookings.DateTimeStart </h7>
                                    <h6 class="card-title"> @bookings.NumberOfPeople personer</h6>
                                    <p class="card-text"> @bookings.BookingComment </p>
                                </div>
                                <div class="card-footer">
                                    @*<a class="btn" type="button" asp-page-handler="MoveBookingLeft" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-left"></i></a>
                                    <a class="btn" type="button" asp-page-handler="MoveBookingRight" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-right"></i></a>*@
                                    <a style="float:right" class="btn" type="button" asp-page="/InternallySystem/EmployeeEditBooking" asp-route-id="@bookings.BookingNumber"><i class="fa fa-info-circle"></i></a>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="col-sm">
                    <h4 class="texted" style="text-align: center">Torsdag</h4>

                    @foreach (var bookings in @Model.bookings)
                    {
                        if (bookings.WeekDays == Models.WeekDays.Torsdag)
                        {
                            <div class="card mb-3" style="max-width: 20rem">
                                <div class="card-header">
                                    <h7 class="card-title"> @bookings.DateTimeStart </h7>
                                    <h6 class="card-title"> @bookings.NumberOfPeople personer</h6>
                                    <p class="card-text"> @bookings.BookingComment </p>
                                </div>
                                <div class="card-footer">
                                    @*<a class="btn" type="button" asp-page-handler="MoveBookingLeft" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-left"></i></a>
                                    <a class="btn" type="button" asp-page-handler="MoveBookingRight" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-right"></i></a>*@
                                    <a style="float:right" class="btn" type="button" asp-page="/InternallySystem/EmployeeEditBooking" asp-route-id="@bookings.BookingNumber"><i class="fa fa-info-circle"></i></a>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="col-sm">
                    <h4 class="texted" style="text-align: center">Fredag</h4>

                    @foreach (var bookings in @Model.bookings)
                    {
                        if (bookings.WeekDays == Models.WeekDays.Fredag)
                        {
                            <div class="card mb-3" style="max-width: 20rem">
                                <div class="card-header">
                                    <h7 class="card-title"> @bookings.DateTimeStart </h7>
                                    <h6 class="card-title"> @bookings.NumberOfPeople personer</h6>
                                    <p class="card-text"> @bookings.BookingComment </p>
                                </div>
                                <div class="card-footer">
                                    @*<a class="btn" type="button" asp-page-handler="MoveBookingLeft" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-left"></i></a>
                                    <a class="btn" type="button" asp-page-handler="MoveBookingRight" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-right"></i></a>*@
                                    <a style="float:right" class="btn" type="button" asp-page="/InternallySystem/EmployeeEditBooking" asp-route-id="@bookings.BookingNumber"><i class="fa fa-info-circle"></i></a>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="col-sm">
                    <h4 class="texted" style="text-align: center">Lørdag</h4>

                    @foreach (var bookings in @Model.bookings)
                    {
                        if (bookings.WeekDays == Models.WeekDays.Lørdag)
                        {
                            <div class="card mb-3" style="max-width: 20rem">
                                <div class="card-header">
                                    <h7 class="card-title"> @bookings.DateTimeStart </h7>
                                    <h6 class="card-title"> @bookings.NumberOfPeople personer</h6>
                                    <p class="card-text"> @bookings.BookingComment </p>
                                </div>
                                <div class="card-footer">
                                    @*<a class="btn" type="button" asp-page-handler="MoveBookingLeft" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-left"></i></a>
                                    <a class="btn" type="button" asp-page-handler="MoveBookingRight" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-right"></i></a>*@
                                    <a style="float:right" class="btn" type="button" asp-page="/InternallySystem/EmployeeEditBooking" asp-route-id="@bookings.BookingNumber"><i class="fa fa-info-circle"></i></a>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="col-sm">
                    <h4 class="texted" style="text-align: center">Søndag</h4>

                    @foreach (var bookings in @Model.bookings)
                    {
                        if (bookings.WeekDays == Models.WeekDays.Søndag)
                        {
                            <div class="card mb-3" style="max-width: 20rem">
                                <div class="card-header">
                                    <h7 class="card-title"> @bookings.DateTimeStart </h7>
                                    <h6 class="card-title"> @bookings.NumberOfPeople personer</h6>
                                    <p class="card-text"> @bookings.BookingComment </p>
                                </div>
                                <div class="card-footer">
                                    @*<a class="btn" type="button" asp-page-handler="MoveBookingLeft" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-left"></i></a>*@
                                    <a style="float:right" class="btn" type="button" asp-page="/InternallySystem/EmployeeEditBooking" asp-route-id="@bookings.BookingNumber"><i class="fa fa-info-circle"></i></a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>


}



