@page "{handler?}"
@model BookingSystemRRC.Pages.InternallySystem.EmployeeCalendarModel
@{
    string tempTextTitle;
    string tempTextDescription;

    <div class="calendar">

        <header>

            <div>
                <nav>
                    <button> Create Customer </button>
                    <a class="CalendarBTN" type="button" asp-page="/BookingRRC/CreateBooking"> Create Booking </a>
                    <button> Check in </button>
                </nav>
            </div>

            <div class="calendarTitle">

                
            </div>

        </header>

        <div class="container">
            <div class="row row-cols-4">

                <div class="col-3">
                    <h2 style="text-align:center">Monday</h2>
                    @foreach (var bookings in @Model.bookings)
                    {
                        if (bookings.WeekDays == Models.Booking.DaysOfWeek.Mon)
                        {
                            <div class="card mb-3" style="max-width: 20rem">
                                <div class="card-header">
                                    <h5 class="card-title"> @*@bookings.Guest.Name*@</h5>
                                    <div class="card-body">
                                        <p class="card-text"> @*@bookings.BookingComment*@</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn " type="button" asp-page-handler="MoveBookingRight" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-right"></i></a>
                                    <a style="float:right" class="btn" type="button" asp-page="BookingDetail" asp-route-id="@bookings.BookingNumber"><i class="fa fa-info-circle"></i></a>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="col-3">
                    <h2 style="text-align: center">Tuesday</h2>

                    @foreach (var bookings in @Model.bookings)
                    {
                        if (bookings.WeekDays == Models.Booking.DaysOfWeek.Tue)
                        {
                            <div class="card mb-3" style="max-width: 20rem">
                                <div class="card-header">
                                    <h5 class="card-title"> @*@bookings.Guest.Name*@ </h5>
                                    <div class="card-body">
                                        <p class="card-text"> @*@bookings.BookingComment*@ </p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn" type="button" asp-page-handler="MoveBookingLeft" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-left"></i></a>
                                    <a class="btn" type="button" asp-page-handler="MoveBookingRight" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-right"></i></a>
                                    <a style="float:right" class="btn" type="button" asp-page="BookingDetail" asp-route-id="@bookings.BookingNumber"><i class="fa fa-info-circle"></i></a>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="col-3">
                    <h2 style="text-align: center">Wednesday</h2>

                    @foreach (var bookings in @Model.bookings)
                    {
                        if (bookings.WeekDays == Models.Booking.DaysOfWeek.Wed)
                        {
                            <div class="card mb-3" style="max-width: 20rem">
                                <div class="card-header">
                                    <h5 class="card-title"> @*@bookings.Guest.Name*@ </h5>
                                    <div class="card-body">
                                        <p class="card-text"> @*@bookings.BookingComment*@ </p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn" type="button" asp-page-handler="MoveBookingLeft" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-left"></i></a>
                                    <a class="btn" type="button" asp-page-handler="MoveBookingRight" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-right"></i></a>
                                    <a style="float:right" class="btn" type="button" asp-page="BookingDetail" asp-route-id="@bookings.BookingNumber"><i class="fa fa-info-circle"></i></a>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="col-3">
                    <h2 style="text-align: center">Thursday</h2>

                    @foreach (var bookings in @Model.bookings)
                    {
                        if (bookings.WeekDays == Models.Booking.DaysOfWeek.Thu)
                        {
                            <div class="card mb-3" style="max-width: 20rem">
                                <div class="card-header">
                                    <h5 class="card-title"> @*@bookings.Guest.Name*@ </h5>
                                    <div class="card-body">
                                        <p class="card-text"> @*@bookings.BookingComment*@ </p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn" type="button" asp-page-handler="MoveBookingLeft" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-left"></i></a>
                                    <a class="btn" type="button" asp-page-handler="MoveBookingRight" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-right"></i></a>
                                    <a style="float:right" class="btn" type="button" asp-page="BookingDetail" asp-route-id="@bookings.BookingNumber"><i class="fa fa-info-circle"></i></a>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="col-3">
                    <h2 style="text-align: center">Friday</h2>

                    @foreach (var bookings in @Model.bookings)
                    {
                        if (bookings.WeekDays == Models.Booking.DaysOfWeek.Fri)
                        {
                            <div class="card mb-3" style="max-width: 20rem">
                                <div class="card-header">
                                    <h5 class="card-title"> @*@bookings.Guest.Name*@ </h5>
                                    <div class="card-body">
                                        <p class="card-text"> @*@bookings.BookingComment*@ </p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn" type="button" asp-page-handler="MoveBookingLeft" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-left"></i></a>
                                    <a class="btn" type="button" asp-page-handler="MoveBookingRight" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-right"></i></a>
                                    <a style="float:right" class="btn" type="button" asp-page="BookingDetail" asp-route-id="@bookings.BookingNumber"><i class="fa fa-info-circle"></i></a>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="col-3">
                    <h2 style="text-align: center">Saturday</h2>

                    @foreach (var bookings in @Model.bookings)
                    {
                        if (bookings.WeekDays == Models.Booking.DaysOfWeek.Sat)
                        {
                            <div class="card mb-3" style="max-width: 20rem">
                                <div class="card-header">
                                    <h5 class="card-title"> @*@bookings.Guest.Name*@ </h5>
                                    <div class="card-body">
                                        <p class="card-text"> @*@bookings.BookingComment*@ </p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn" type="button" asp-page-handler="MoveBookingLeft" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-left"></i></a>
                                    <a class="btn" type="button" asp-page-handler="MoveBookingRight" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-right"></i></a>
                                    <a style="float:right" class="btn" type="button" asp-page="BookingDetail" asp-route-id="@bookings.BookingNumber"><i class="fa fa-info-circle"></i></a>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="col-3">
                    <h2 style="text-align: center">Sunday</h2>

                    @foreach (var bookings in @Model.bookings)
                    {
                        if (bookings.WeekDays == Models.Booking.DaysOfWeek.Sun)
                        {
                            <div class="card mb-3" style="max-width: 20rem">
                                <div class="card-header">
                                    <h5 class="card-title"> @*@bookings.Guest.Name*@ </h5>
                                    <div class="card-body">
                                        <p class="card-text"> @*@bookings.BookingComment*@ </p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn" type="button" asp-page-handler="MoveBookingLeft" asp-route-id="@bookings.BookingNumber"><i class="fa fa-arrow-circle-left"></i></a>
                                    <a style="float:right" class="btn" type="button" asp-page="BookingDetail" asp-route-id="@bookings.BookingNumber"><i class="fa fa-info-circle"></i></a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>


}



